
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Space Grotesk', sans-serif;
}
.header {
	z-index: 1;
	background: linear-gradient(45deg, #F1F6F9, #14274E, #394867,#9BA4B4);
	background-size: 400% 400%;
	width: 100%;
	height: 100vh;
	animation: animate 15s ease infinite;
}
.header ul {
	height: 50px;
	display: flex;
	justify-content: center;
}
.header ul li {
	display: inline-block;
	padding: 40px 15px;
}
.header ul li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	padding: 5px 10px;
}
.header ul li a:hover {
	background: #fff;
	color: #000;
}
.header h2 {
	text-align: center;
	color: #fff;
	font-size: 60px;
	margin-top: 15%;
	margin-bottom: 20px;
}
.header p {
	text-align: center;
	font-size: 20px;
	width: none;
	margin: auto;
	color: #fff;
	line-height: 1.7;
}
@keyframes animate {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.about-me__links{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

/* icon links  */
.about-me__link1{
    font-size: 50px;
    color: #fff;
    text-decoration: none;
    padding: 0 16px;
	display: inline;
	width: 100%;
}
.about-me__link{
    font-size: 50px;
    color: #fff;
    text-decoration: none;
    padding: 0 16px;
	width: 100%;
}
